<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         testdox="true">

    <testsuites>
        <testsuite name="VigihDev Yii2 Bridge DB Test Suit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
